{:paths ["src"]
 :deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
        babashka/fs {:mvn/version "0.1.6"}}
 :aliases
{:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
         :exec-fn kaocha.runner/exec-fn
         :exec-args {}}
 :test/watch {:extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}}
              :exec-fn kaocha.runner/exec-fn
              :exec-args {:watch? true
	                      :skip-meta :slow
	                      :fail-fast? true }}}}
